/.idea/
/vendor/

# On ignore les fichiers de configuration (données sensibles)
.env*

# On conserve tout de même un fichier d'exemple avec les clés nécessaires
!.env.example

# On ignore tous les fichiers de cache et de compilation de Smarty
/cache/
/templates_c/

# On ignore les fichiers de logs
/logs/